.aboutTop {
    width: 90%;
    margin: auto;
    background-color: #fff;
    margin-bottom: 20px;
}

.aboutTop > div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin:auto;
    text-align: center;
}

.divider{
    width: 10%;
    margin: auto;
    border-bottom: 2px solid #000;
}

.valuesDiv{
    width: 100%;
    margin: auto;
}

.missionDiv p:first-child{
    padding-top: 30px;
}

.missionDiv p:last-child{
    margin: 20px auto;
    color: #2bb8e2;
    font-size: 1.5rem;
    line-height: 2.125rem;
    font-family: "Georgia",serif;
}

/* HOLDERS FOR INDIVIDUAL */
.individualHolder{
    margin-top: 20px;
    text-align: center;
}

.individualHolder i{
    font-size: 4rem;
    padding-bottom: 10px;
    color: #002855;
}

.individualHolder h3{
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 1.6rem;
    color: #2bb8e2;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.individualHolder ul li{
    width: 80%;
    margin: auto;
    font-size: 1.1rem;
    color: #000;
    text-indent: -4px;
    /* list-style-type: disc; */
    padding: 4px;
    /* text-align: left; */
}

/* BOTTOM */
.aboutBottom{
    width: inherit;
    background-color: #eae9e9;
}

.aboutBottom > div{
    width: 90%;
    margin: auto;
}

.aboutBottom > div:first-child{
    padding-top: 50px;
    padding-bottom: 50px;
}

.aboutBottom > div:last-child{
    padding-bottom: 50px;
}

.aboutLeft{
    width: 60%;
    margin-right: 40px;
}

.aboutLeft h3{
    text-align: center;
    width: 80%;
    color: #002855;
    margin: 10px auto;
    font-size: 1.875rem;
    line-height: 2.375rem;
    letter-spacing: -1px;
    font-family: "Georgia",serif;
}

.aboutLeft p{
    text-align: center;
    width: 70%;
    margin: 30px auto;
    color: #2bb8e2;
    font-size: 1.5rem;
    line-height: 2.125rem;
    font-family: "Georgia",serif;   
}

/* WHAT DIFFS US */
.diffHolder{
    width: 90%;
    margin: 20px auto;
    display: flex;
    color: #000;
}

.iconHolder{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.iconHolder i{
    font-size: 3.5rem !important;
    color: #002855;
}

.diffMainHolder{
    width: 60%;
}

.diffMainHolder h3{
    font-size: 1.425rem;
    color: #002855;
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.diffMainHolder ul li{
    font-size: 1.2rem;
    line-height: 1.875rem;
    font-family: "Georgia",serif;
}

.storyLine{
    margin-bottom: 100px;
}

@media screen and (max-width:750px){
    .aboutTop > div:first-child{
        width: 100%;
    }

    .divider{
        width: 25%;
    }

    .individualHolder h3{
        font-size: 1rem;
    }

    .individualHolder ul li{
        font-size: 1rem;
        width: 60%;
    }

    .individualHolder i{
        font-size: 3rem;
    }

    .aboutBottom > div {
        flex-direction: column;
    }

    .missionDiv p:last-child{
        font-size: 1.2rem;
    }

    .aboutLeft, .aboutRight{
        width: 100%;
    }

    .diffHolder{
        flex-direction: column;
        text-align: center;
    }

    .iconHolder{
        width:80%;
        margin: 0px auto 20px;
        text-align: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .iconHolder i{
        font-size: 3rem !important;
    }

    .diffMainHolder{
        width: 80%;
        margin: auto;
    }

    .diffMainHolder h3{
        width: 50%;
        margin: auto;
        font-size: 1.4rem;
    }

    .diffMainHolder ul li{
        font-size: 0.8rem;
        padding-top: 10px;
    }

    .storyLine{
        margin-bottom: 100px;
    }
    
    .aboutLeft h3{
        font-size: 1.8rem;
    }
    
    .aboutLeft p{
        text-align: center;
        width: 90%;
        margin: 10px auto;
        font-size: 1.2rem;
    } 
}