.aboutTop {
    width: 90%;
    margin: auto;
    background-color: #fff;
    margin-bottom: 20px;
}

.aboutTop > div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
    text-align: center;
}

.divider{
    width: 10%;
    margin: auto;
    border-bottom: 2px solid #000;
}

.valuesDiv{
    width: 100%;
    margin: auto;
}

.missionDiv p:last-child{
    margin: 20px auto;
    color: #2bb8e2;
    font-size: 1.5rem;
    line-height: 2.125rem;
    font-family: "Georgia",serif;
}



/* HOLDERS FOR INDIVIDUAL */
/* .individualHolder > *{
    padding-left: 10px;
} */
.individualHolder i{
    display: inline-block ;
    vertical-align: middle;
    font-size: 30px;
    padding-bottom: 10px;
}

.individualHolder h3{
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 1.2rem;
    color: #2bb8e2;
    font-weight: 700;
}

.individualHolder ul li{
    font-size: 0.875rem;
    list-style-type: disc;
    padding: 8px;
    text-align: justify;
}

/* BOTTOM */
.aboutBottom{
    width: inherit;
    background-color: #eae9e9;
}

.aboutBottom > div{
    width: 90%;
    margin: auto;
}

.aboutBottom > div:first-child{
    padding-top: 50px;
    padding-bottom: 50px;
}

.aboutBottom > div:last-child{
    padding-bottom: 50px;
}

.aboutLeft{
    width: 60%;
    margin-right: 40px;
}

.aboutLeft h3{
    text-align: center;
    width: 80%;
    color: #002855;
    margin: 10px auto;
    font-size: 2.5rem;
    font-family: "Georgia",serif;
}

.aboutLeft p{
    text-align: center;
    width: 70%;
    margin: 30px auto;
    color: #2bb8e2;
    font-size: 1.5rem;
    line-height: 2.125rem;
    font-family: "Georgia",serif;   
}

/* WHAT DIFFS US */


.diffHolder{
    width: 90%;
    margin: 20px auto;
    display: flex;
    color: #000;
}

.iconHolder{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.iconHolder i{
    font-size: 3.5rem !important;
    color: #002855;
}

.diffMainHolder{
    width: 80%;
}

.diffMainHolder h3{
    font-size: 1.6rem;
    color: #002855;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0px;
}

.diffMainHolder ul li{
    font-size: 1.275rem;
}

/*STORY LINE */

.storyLine{
    margin-top: 30px;
    margin-bottom: 150px;
    background-color: #fff;
}

.storyLine > div{
    width: 94%;
    margin: auto;
}

.storyLine > div > p:first-child{
    font-size: 1.875rem;
    line-height: 2.375rem;
    letter-spacing: -1px;
    color:var(--hlblue);
    padding: 10px 25px 0 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.storyLine > div p:not(:first-child) {
    width: 80%;
    padding-left: 25px;
}

@media screen and (max-width:750px){
    /* .foundingYear{
        width: 100%;
        text-align: center;
    } */

    .aboutBottom > div {
        flex-direction: column;
    }

    /* .aboutBottom ul li{
        font-size: 0.8rem;
    } */

    .aboutLeft, .aboutRight{
        width: 100%;
    }

    /* .aboutRight p{
        text-align: center;
        font-size: 1.5rem;
        padding-left: 15px;
    } */

    .storyLine{
        text-align: center;
        margin-bottom: 100px;
    }

    .storyLine > div{
        width: 90%;
        margin: auto;
    }

    .storyLine > div > p:first-child, 
    .storyLine > div > p:not(:first-child){
        width: 90%;
        margin: 10px auto;
        padding-left: 0;
    }
    .storyLine > div > p:not(:first-child){
        font-size: 0.8rem;
    }
}