.contactForm{
    width: 90%;
    margin: 100px auto;
  }

.form{
    padding-left: 25px;
}

.form > *{
    margin-top: 25px;
}

.form span{
    color: red;
    font-weight: bold;
}

@media screen and (max-width:750px){
    .contactForm{
        margin: 30px auto;
    }

    .form > *{
        margin-top: 0px;
    }

    .form > * > *{
        margin-top: 10px;
    }

    .form label{
        font-size: var(--sm-font);
    }
}