.credentialsCont{
    width: 100%;
    margin-bottom: 150px;
}

.credsTopDiv{
    width: 80%;
    margin: 100px auto 20px;
    text-align: center;
}

.credsTopDiv h3{
    font-size: 2.5rem;
    color: #000;
}

.credsTopDiv div{
    width: 10%;
    margin: 5px auto;
    border-bottom: 2px solid #000;
}

.credsBottomDiv{
    width: 70%;
    margin: 50px auto;
}

.innerHolder{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(193, 222, 231);
    border-radius: 6px;
    cursor: pointer;
}

.innerHolder:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.innerHolder img{
    max-width: 100%;
    height: auto;
    transition: transform .5s ease
}

.innerHolder img:hover{
    transform: scale(1.1);
}


.transHolder{
    text-align: center;
    margin-top: 20px;
}

.transHolder h3{
    font-size: 1.8rem;
}

@media screen and (max-width:750px){
    .credentialsCont{
        margin-bottom: 100px;
    }

    .credsTopDiv div{
        width: 30%;
    }
    .credsTopDiv h3{
        font-size: 2rem;
    }

    .credsBottomDiv{
        width: 80%;
        margin: 20px auto;
    }

    .transHolder h3{
        font-size: 1.4rem;
    }
}