.empCount{
    padding-top: 20px;
    margin-top: 4%;
    margin-right: 10%;
    text-align: center;
}

.empCount h3{
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: -3px;
    color: #154667;
    font-family: "Georgia",serif;
    margin-bottom: 10px;
}

.empCount p{
    font-size: 1rem;
    line-height: 1.625rem;
}

.teamPics > div{
    padding-top: 25px;
    padding-bottom:25px;
    width: 90%;
    margin:auto;
    overflow: hidden;
}


.founderDiv > div{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}

.teamDetails{
    text-align: center;
    margin-top: 20px;
}

.teamDetails a{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Georgia",serif;
    padding-bottom: 10px;
}

.teamDetails p{
    color: #000;
    font-size: 0.938rem;
    line-height: 1.063rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.founderHolder{
    width: 90%;
    margin: 20px auto 150px;
    background-color: #fff;
    margin-top: 20px;
}

.founderHolder > div {
    width: 75%;
}

.founderHolder > div p:first-child{
    font-size: 1.875rem;
    line-height: 2.375rem;
    letter-spacing: -1px;
    color:var(--hlblue);
    padding: 10px 25px 0 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.founderHolder > div p:not(:first-child){
    font-size: 1.2rem;
    line-height: 1.875rem;
    color: #154667;
    font-family: "Georgia",serif;
    margin-bottom: 10px;
    padding-left: 25px;
}

@media screen and (max-width:750px){
    .founderDiv > div{
        flex-direction: column;
    }

    .founderHolder{
        margin-bottom: 50px;
    }
    .founderHolder > div {
        width: 100%;
    }

    .founderHolder > div p:not(:first-child){
        font-size: 1rem;
    }

    .founderHolder > div p:first-child{
        font-size: 1.6rem;
    }
}