.empCount{
    padding-top: 20px;
    margin-top: 4%;
    margin-right: 10%;
    text-align: center;
}

.empCount h3{
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: -3px;
    color: #154667;
    font-family: "Georgia",serif;
    margin-bottom: 10px;
}

.empCount p{
    font-size: 1rem;
    line-height: 1.625rem;
}

.teamPics img{
    /* border: 2px solid #154667; */
    cursor: pointer;
    /* border-radius: 50%; */
    transition: all 0.5s ease;
}

.teamPics img:hover{
    transform: scale(0.9);
}

.founderDivInner{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

.teamDetails a{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Georgia",serif;
    padding-bottom: 10px;
}

.teamDetails{
    width: 90%;
    margin: auto;
    text-align: center;
}

.teamDetails p{
    color: #000;
    font-size: 1rem;
    line-height: 1.063rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.founderHolder{
    width: 90%;
    margin: 20px auto 150px;
    background-color: #fff;
    margin-top: 20px;
}

.founderHolder p:first-child{
    font-size: 1.875rem;
    line-height: 2.375rem;
    letter-spacing: -1px;
    color:var(--hlblue);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

.founderHolder p:not(:first-child){
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.875rem;
    color: #154667;
    font-family: "Georgia",serif;
    margin-bottom: 10px;
}

@media screen and (max-width:750px){
    .founderDiv > div{
        flex-direction: column;
    }

    .founderHolder{
        margin-bottom: 50px;
    }
    .founderHolder > div {
        width: 100%;
    }

    .founderHolder > div p:not(:first-child){
        font-size: 1rem;
    }

    .founderHolder > div p:first-child{
        font-size: 1.6rem;
    }
}